<a href="https://colab.research.google.com/github/Pranavesh-Panakkal/CEVE-562-Python-demo/blob/main/Notebook_1_Getting_Started_with_Python_and_Jupyter_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook 1: Getting Started with Python and Jupyter Notebooks

### Topics
- Different types of cells
- Running a cell
- Markdown basics
- Importing Python packages
- Installing Python packages
- Finding more details of a function
- Loading data

## 1. Different types of cells

Code cells and text cells

In [ ]:
# This is a code cells
# A code cell allows you to write, edit, and run code.

This is a text cell. A text cell provides an elegant way to document your code.

## 2. Running a cell

In [ ]:
print("You can add Python codes to a code cell")

You can add Python codes to a code cell

In [ ]:
# adding two numbers
1+2

3

In [ ]:
# 2 to the power of 3
2**3

8

In [ ]:
# Division
2/2

1.0

In [ ]:
# the Modulo Operator
2.5%2

0.5

A text cell.

## 3. Markdown basics

Use text cells to document the your code using plain text or Markdown syntax.

**Markdown reference:**
 
Markdown syntax | Preview
--------------- | --------------
`**bold text**` | **bold text**
`*italicized text*` or `_italicized text_` | *italicized text*
`` `Monospace` `` | `Monospace`
`~~strikethrough~~` | ~~strikethrough~~
`[A link](https://www.rice.edu/)` | [A link](https://www.rice.edu/)
`![An image](https://www.rice.edu/sites/g/files/bxs2566/files/2019-08/Rice_University_Horizontal_Blue.svg)` | ![An image](https://www.rice.edu/sites/g/files/bxs2566/files/2019-08/Rice_University_Horizontal_Blue.svg)
`$E=mc^2$` | $E=mc^2$
---
[Source](https://colab.research.google.com/notebooks/markdown_guide.ipynb#scrollTo=uSx6SUb1Komv)

**Headings**

```markdown
# Heading 1
# Heading 2
## Heading 3
### Heading 4
```

# Heading 1
# Heading 2
## Heading 3
### Heading 4

Resources:

[Google Collab Markdown Guide](https://colab.research.google.com/notebooks/markdown_guide.ipynb#scrollTo=Lhfnlq1Surtk)

[Github flavored Markdown](https://help.github.com/articles/github-flavored-markdown/)

## 4. Importing Python packages

Query: Find $Cos(\pi)$

In [ ]:
# Python packages for math.cos and np.pi are not imported. In the absence of appropriate imports, Python will raise 'NameError'
math.cos(np.pi)

NameError: ignored

In [ ]:
import math
import numpy as np

In [ ]:
math.cos(np.pi)

-1.0

## 5. Installing Python packages

In [ ]:
import geopandas

In [ ]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

## 6. Finding more details of a function

In [ ]:
import geopandas

In [ ]:
geopandas.read_file?

In [ ]:
geopandas.read_file??

## 7. Importing data

In [ ]:
import pandas as pd

In [ ]:
path_to_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [ ]:
data = pd.read_csv(path_to_data,sep=';')

In [ ]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]